@mixin display-grid() {
    display: -ms-grid;
    display: grid;
}

@mixin grid-rows($rows) {
    -ms-grid-rows: $rows;
    grid-template-rows: $rows;
}

@mixin grid-columns($columns) {
    -ms-grid-columns: $columns;
    grid-template-columns: $columns;
}

@mixin grid($rows, $columns) {
    @include display-grid();
    @include grid-rows($rows);
    @include grid-columns($columns);
}

@mixin grid-cell($row-start, $row-end, $column-start, $column-end) {
    $row-span: $row-end - $row-start;
    $column-span: $column-end - $column-start;

    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-span;
    -ms-grid-column: $column-start;
    -ms-grid-column-span: $column-span;

    grid-row: #{$row-start}/#{$row-end};
    grid-column: #{$column-start}/#{$column-end}
}

@mixin grid-justify-self($justify) {
    -ms-grid-column-align: $justify;
    justify-self: $justify;
}

@mixin grid-align-self($align) {
    -ms-grid-row-align: $align;
    align-self: $align;
}