<div class="btn-group" role="group" aria-label="Twitter Handle">
    <a href="https://twitter.com/Jupiter_Nebula" class="btn btn-outline-info pt-1 mr-2">
        <span class="align-middle">
            <span class="fab fa-twitter fa-lg mr-1"></span>
            <span>@Html.Raw("@Jupiter_Nebula")</span>
        </span>
    </a>
    <a href="https://github.com/taylorjoshuaw" class="btn btn-outline-dark pt-1 mr-2">
        <span class="align-middle">
            <span class="fab fa-github fa-lg mr-1"></span>
            <span>@Html.Raw("taylorjoshuaw")</span>
        </span>
    </a>
    <a href="https://www.youtube.com/channel/UCDshtzr4oyRiT_LvziIyPUw" class="btn btn-outline-danger pt-1 mr-2">
        <span class="align-middle">
            <span class="fab fa-youtube fa-lg mr-1"></span>
            <span>@Html.Raw("YouTube")</span>
        </span>
    </a>
</div>
