@section PageHeader
{
    <h1 class="display-4">About Me</h1>
}

@{
    var carouselImageUrls = new List<string> {
        "https://qjsnyg.dm.files.1drv.com/y4mei0nALyPGXeSjFxIFMcs4lZIaU7zvafxrRqX4FbpUqkB2-ljYhDpIo8QaqNJe8Ab1QPz7fyf8z1-8aItVO4hP0BV4mGsfReHAFGH6dqCtVpfzlEjEnSm4bngNMjlAxAMVWxwu8KNGzrBZ-zPNtCkK-CPXLqKFTllzqxhpBzVueyB-3u0N-IX4fV17RAdwHZupwT7CJlkXLbpY1VpNIFMvA?width=1024&height=1024&cropmode=none",
        "https://qjssyg.dm.files.1drv.com/y4m2TmGZLPMk0VPZCptKAOroWxZwqx1RpNh4flW51MTn7VjNzHHb_L3YZn3z5028S0qU3FIK-TlljPAKqgJJ61EhwPJSB5XnrPsyzJ11S01z9ZVYixfqu_qXRQcsJaRWN68yCKDTUUMmt0AAgQdxU7DWqL9rfLKt1FtdUPVkXBPFBIP2cVBWa8CQSnLGbx22a5vNgeLRZQz_OLSkWi8pAlyyQ?width=765&height=477&cropmode=none",
        "https://qjsuyg.dm.files.1drv.com/y4m-EQOLij3oPJ1rxQHpBpwQlnUAFW3C-uybvZhJ_82y_O9ymf2quC2mD7TUyYkZTO03kvb-Gr7NIde3v50xvUOPMs0HhYJ-gi87inayr6Hs03c-6eRDCXNlUVYdaL7eydM_XwB1UeOkpk-tccb1YNbzcKh3dpxx558DzE4ClxuEOrD0bR7g9RiNizSbQCYxhsFWGsAUXhF2i5ttLAm2So4Yw?width=439&height=660&cropmode=none",
        "https://qjsfyg.dm.files.1drv.com/y4mCynDnkjOmqiPfHOXLkmt_ea4acK9I-2oALNgu1Bc76k2TH3xPdWYaeH_Si6uHbM0bLAwQ-RIy2veAMQRz2kS4TwNPcHYKFP16d68JeoxWEFLA7NTBF65cN-_mbxQgmfr1c-EvKxARPP5lvyzOvR-yxX5WaaCfDIEWFxT68RVm7XFAavKhvILZa2I8dgQZwlfmm5YJLuITGPMyTzQjsjxiQ?width=682&height=1024&cropmode=none"
    };
}

<div class="container">
    <div class="row">
        @Html.Partial("_Carousel", carouselImageUrls)
    </div>

    <div class="row mt-4">
        <p>This page is under construction...</p>
    </div>
</div>