@model IEnumerable<string>

<div class="tag-list">
    <span class="fas fa-hashtag"></span>

    @if(Model.Any())
    {
        <span class="btn-group flex-wrap">
            @foreach(var tag in Model.OrderBy(t => t.Length))
            {
                var tagDocument = Documents[Blog.Tags].FirstOrDefault(t => t.String(BlogKeys.Tag) == tag &&
                                                                        t.Get<int>(Keys.CurrentPage) == 1);
                
                if(tagDocument != null)
                {
                    <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-secondary btn-sm">@tag</a>
                }
            }
        </span>
    }
</div>